<footer class="footer-page py_0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="footer1">
                    <a href="/"><img src="../assets/images/Granny Flat.png" alt="Logo" class="logo-img" /></a>
                    <p class="footerText">{{FooterText}}</p>
                    <div class="social-media-img">
                        <a href="/Facebook"><img src="../assets/images/f.png" alt="face-book"
                                class="face-book-img" /></a>
                        <a href="/Telegram"><img src="../assets/images/t.png" alt="telegram" class="telegram-img" /></a>
                        <a href="/Pinterest"><img src="../assets/images/p.png" alt="print" class="printed-img" /></a>
                        <a href="/Instagram"><img src="../assets/images/inst.png" alt="instagram"
                                class="instagram-img" /></a>
                        <a href="/Linkedin"><img src="../assets/images/in.png" alt="linked" class="linked-img" /></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 col-12 ">
                <div class="footer2">
                    <p class="FooterHeading1">{{FooterHeading1}}</p>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About Us </a></li>
                        <li><a href="/">Service</a></li>
                        <li><a href="/">Gallery</a></li>
                        <li><a href="/">Blog</a></li>
                        <li><a href="/">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 col-12 ">
                <div class="footer-3">
                    <p class="FooterHeading2">{{FooterHeading2}}</p>
                    <div class="footer3">
                        <div class="contact-phn-img">
                            <span class="material-symbols-outlined">phone_in_talk</span>
                            <a href="tel:0123-456789">
                                <p class="NumberText">{{NumberText}}</p>
                            </a>
                        </div>
                        <div class="contact-mail-img">
                            <span class="material-symbols-outlined email-img">mail</span>
                            <a href="mailto:info@grannyflat.io">
                                <p class="EmailText">{{EmailText}}</p>
                            </a>
                        </div>

                        <div class="contact-loc-img">
                            <span class="material-symbols-outlined">pin_drop</span>
                            <p class="LocText">{{LocText}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr>
        <div class="footer-end-txt">
            <a href="/">
            <p class="RightText">{{RightText}}</p>
        </a>
            <div class="footer-end">
              <a href="/"> <p class="TermText">{{TermText}}</p></a>
               <a href="/"> <p class="PolicyText">{{PolicyText}}</p></a>
            </div>
        </div>
    </div>

</footer>